:root {
    --facebook-cl: rgb(59, 89, 152);
    --twitter-cl: rgb(29, 161, 242);
    --instagram-cl: rgb(224, 53, 102);
    --dribbble-cl: rgb(234, 76, 137);
    --linkedin-cl: rgb(0, 119, 181);
    --pinterest-cl: rgb(203, 32, 39);
    --tumblr-cl: rgb(55, 69, 92);
    --snapchat-cl: rgb(255, 221, 0);
    --youtube-cl: rgb(205, 32, 31);
    --vimeo-cl: rgb(26, 183, 234);
    --behance-cl: rgb(23, 106, 255);
    --soundcloud-cl: rgb(255, 119, 0);
    --tiktok-cl: #FE2C55;
    --email-cl: rgb(219, 68, 55);
    --telegram-cl: rgb(0, 136, 204);

    --facebook-cl: rgb(59, 89, 152);
    --twitter-cl: rgb(29, 161, 242);
    --instagram-cl: rgb(224, 53, 102);
    --dribbble-cl: rgb(234, 76, 137);
    --linkedin-cl: rgb(0, 119, 181);
    --pinterest-cl: rgb(203, 32, 39);
    --tumblr-cl: rgb(55, 69, 92);
    --snapchat-cl: rgb(255, 221, 0);
    --youtube-cl: rgb(205, 32, 31);
    --vimeo-cl: rgb(26, 183, 234);
    --behance-cl: rgb(23, 106, 255);
    --soundcloud-cl: rgb(255, 119, 0);
    --tiktok-cl: #FE2C55;
    --email-cl: rgb(219, 68, 55);
    --telegram-cl: rgb(0, 136, 204);

    --btn-radius: 60px;
    --t4s-other-radius: 0px;

    --wrapper-mw: 1420px;
    --font-family-1: Poppins;
    --font-family-2: Poppins;
    --font-family-3: Libre Baskerville;
    --font-body-family: Poppins;
    --font-heading-family: Poppins;
    --t4s-success-color: #428445;
    --t4s-success-color-rgb: 66, 132, 69;
    --t4s-warning-color: #e0b252;
    --t4s-warning-color-rgb: 224, 178, 82;
    --t4s-error-color: #EB001B;
    --t4s-error-color-rgb: 235, 0, 27;
    --t4s-light-color: #ffffff;
    --t4s-dark-color: #222222;
    --t4s-highlight-color: #ec0101;
    --t4s-tooltip-background: #383838;
    --t4s-tooltip-color: #fff;
    --primary-sw-color: #333;
    --primary-sw-color-rgb: 51, 51, 51;
    --border-sw-color: #ddd;
    --secondary-sw-color: #878787;
    --primary-price-color: #ec0101;
    --secondary-price-color: #878787;
    --t4s-body-background: #fff;
    --text-color: #878787;
    --text-color-rgb: 135, 135, 135;
    --heading-color: #222222;
    --accent-color: #56cfe1;
    --accent-color-rgb: 86, 207, 225;
    --accent-color-darken: #23b2c7;
    --accent-color-hover: var(--accent-color-darken);
    --secondary-color: #222;
    --secondary-color-rgb: 34, 34, 34;
    --link-color: #878787;
    --link-color-hover: #56cfe1;
    --border-color: #ddd;
    --border-color-rgb: 221, 221, 221;
    --border-primary-color: #333;
    --button-background: #222;
    --button-color: #fff;
    --button-background-hover: #56cfe1;
    --button-color-hover: #fff;
    --sale-badge-background: #ff4e00;
    --sale-badge-color: #fff;
    --new-badge-background: #109533;
    --new-badge-color: #fff;
    --preorder-badge-background: #0774d7;
    --preorder-badge-color: #fff;
    --soldout-badge-background: #999999;
    --soldout-badge-color: #fff;
    --custom-badge-background: #00A500;
    --custom-badge-color: #fff;
    --payment-terms-background-color: ;
    --lz-background: #f5f5f5;
    --lz-img: url(//demo-kalles-4-1.myshopify.com/cdn/shop/t/2/assets/t4s_loader.svg?v=3451148…);
}